.experiment_content {
    margin-top: 100px;
    width: 100%;
    height: 200vh;
    background-image: url("../photo/Experiment/资源 23@2x-.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: 100vw;
    text-align: center;
}

.date-picker-before {
    height: 26vw;
}

.el-calendar {
    width: 40vw;
    height: 17vw;
    margin-left: 32vw;
    background-color: transparent !important;
}

.el-button {
    background-color: transparent;
    cursor: pointer !important;
}

.el-button:hover {
    border: transparent;
    cursor: pointer !important;
    color: black;
}

.el-calendar__header {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: none;
}

.el-calendar__body {
    padding-top: 2px;
}

.el-calendar-table tr td:first-child {
    border-left: none;
}

.el-calendar-table tr:first-child td {
    border-top: none;
}

.el-calendar-table td {
    border-bottom: none;
    border-right: none;
}

.el-calendar-day {
    height: 2vw !important;
}

.el-calendar-day p {
    margin: 0;
}

embed {
    margin-top: 2vw;
    margin-left: 5vw;
    width: 55vw;
    height: 48vw;
}