
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 2000px;
}
#backgroundLeft{
    width: 50%;
    height: 100%;
    position: absolute;
    /*背景渐变*/
    /*background: -webkit-linear-gradient(left, rgba(195, 195, 195, 0.4), rgba(255, 255, 255, 1)); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(right,rgba(195, 195, 195, 0.4), rgba(255, 255, 255, 1)); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(right, rgba(195, 195, 195, 0.4), rgba(255, 255, 255, 1)); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(to right, rgba(195, 195, 195, 0.4) , rgba(255, 255, 255, 1)); !* 标准的语法 *!*/


}
#backgroundRight{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0 ;
    /*background: -webkit-linear-gradient(right, rgba(195, 195, 195, 0.4) , rgba(255, 255, 255, 1)); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(left, rgba(195, 195, 195, 0.4), rgba(255, 255, 255, 1)); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(left, rgba(195, 195, 195, 0.4), rgba(255, 255, 255, 1)); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(to left, rgba(195, 195, 195, 0.4) , rgba(255, 255, 255, 1)); !* 标准的语法 *!*/
}

#title{
    width: 100%;
    height: 500px;

}
#title h1{
    text-align: center;
    height: 50px;
    font-size: 50px;
    color: #3c414b;
    font-weight: bolder;
    margin:0 0 20px 0 ;
}
#title p{
    text-align: center;
    width: 70%;
    position: relative;
    left: 15%;
    font-size: 25px;
    color: rgba(110, 118, 128, 0.9);
}