.experiment_content {
    margin-top: 100px;
    width: 100%;
    height: 200vh;
    background-image: url("https://2019.igem.org/wiki/images/e/e8/T--BIT-China--experiment.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: 100vw;
    text-align: center;
}

.date-picker-before {
    height: 30vw !important;
}

.el-calendar {
    width: 40vw !important;
    height: 17vw !important;
    margin-left: 32vw !important;
    background-color: transparent !important;
}

.el-button {
    background-color: transparent !important;
    cursor: pointer !important;
}

.el-button:hover {
    border: transparent !important;
    cursor: pointer !important;
    color: black !important;
}

.el-calendar__header {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border-bottom: none !important;
}

.el-calendar__body {
    padding-top: 2px !important;
}

.el-calendar-table tr td:first-child {
    border-left: none !important;
}

.el-calendar-table tr:first-child td {
    border-top: none !important;
}

.el-calendar-table td {
    border-bottom: none !important;
    border-right: none !important;
}

.el-calendar-day {
    height: 2vw !important;
}

.el-calendar-day p {
    margin: 0 !important;
}

embed {
    margin-top: 2vw;
    margin-left: 5vw;
    width: 55vw;
    height: 48vw;
}

iframe {
    margin-top: 2vw;
    margin-left: 5vw;
    width: 55vw;
    height: 48vw;
}

.experiment_content > p {
    margin-top: 8vw !important;
    text-align: center !important;
}

#animate {
    position: absolute;
    top: 37vw;
    left: 15vw;
    display: none;
}